name: Automated Tests
on:
  push:
  workflow_dispatch:

jobs:
  build_environment:
    name: Build Environment Image
    uses: ./.github/workflows/build_image.yaml
    permissions:
      contents: read
      packages: write # Required to push to GitHub Container Registry (GHCR)

  run_automated_tests:
    name: Run Automated Tests
    needs: build_environment
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.build_environment.outputs.image_name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build AlkOS
        run: "$GITHUB_WORKSPACE/scripts/actions/build_alkos.bash -v"

      - name: Run tests
        run: python "$GITHUB_WORKSPACE/scripts/tests/runner.py"

      - name: Print build log on failure
        if: failure()
        run: cat /tmp/alkOS_build.log || echo "Build log not found"

      - name: Print tests log on failure
        if: failure()
        run: |
          cat scripts/tests/test_framework_logs/*/failed_tests.log || echo "Test framework log not found"

      - name: Upload build artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: alkos_build
          path: |
            /tmp/alkOS_build.log
            build/alkos/alkos.iso
          compression-level: 9

      - name: Upload tests artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: tests_logs
          path: scripts/tests/test_framework_logs
          compression-level: 9
