name: Reusable - Build Environment Image

# This workflow is triggered by other workflows
on:
  workflow_call:
    outputs:
      image_name:
        description: "The full name/tag of the built docker image."
        value: ${{ jobs.build-and-push-image.outputs.image_name }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    outputs:
      image_name: ${{ steps.meta.outputs.tags }}
    permissions:
      contents: read
      packages: write # Required to push to GitHub Container Registry (GHCR)

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            # Tag with the commit SHA for unique, per-commit images
            type=sha,prefix=

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./.github/.dev.Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # Enable caching to speed up subsequent image builds on the same branch
          cache-from: type=gha
          cache-to: type=gha,mode=max
