name: C++ linting

on: [push]

jobs:
  Lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run in Arch container
        uses: docker://archlinux:latest
        with:
          args: bash -c "pacman -Sy --noconfirm clang parallel && scripts/cicd/check_clang_format.bash"
